body{
    margin: 0;
    min-height: 100vh;
    background-image: url(images/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    align-items: center;
}
.title{
  background: -webkit-gradient(linear,left top,right top,from(#333),to(#333),color-stop(.5,#fff)) 0 0 no-repeat;
    -webkit-background-size: 190px;
    color: rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    font-size: 6em;
    text-align: center;
}
@-webkit-keyframes shine{0%{background-position:top left}
100%{background-position:top right;
}
